@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(./assets/fonts/Raleway/static/Raleway-Regular.ttf);
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(29, 29, 29);
    color: white;
  }
  h1, h2, h3 {
      font-family: 'Roboto';
  }
  p, ul, li, span {
      font-family: 'Raleway';
  }

.flexbox {
    display: flex;
}

.wrapper {
    width: 60%;
    margin: auto;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:rgb(178, 191, 232); 
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Firefox */
.scroller {
    width: 5px;
    overflow-y: scroll;
    scrollbar-color: rgb(178, 191, 232) #f1f1f1;
    scrollbar-width: thin;
}

/* Header (Navbar) */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    width: 80%;
    max-width: 80%;
    font-size: 18pt;
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    display: inline block;
}

.navbar-links li a {
    transition: all 0.2s ease 0s;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.navbar-links li a:hover {
    text-shadow: 0 0 5px #8d8d8d;
    background-color: rgba(73, 73, 73, 0.5);
}

.navbar-links li a.current {
    border-bottom: solid white 2px;
}

/* Section 1 (Landing) */
.section1 {
    height: 10%;
}

.landing-content {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px 50px;
}

.landing-italic {
    font-style: italic;
    font-size: 14pt;
}

.landing-title {
    font-size:  74pt;
    margin-bottom: 0;
    margin-top: 0;
}

.landing-subtitle {
    font-size: 18pt;
}

.landing-image {
    background-image: url(./assets/images/background.jpg);
    height: 100%;
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(0.5);
    transform: scale(1.1);
}

.landing-link {
    font-family: 'Raleway';
    font-size: 16pt;
    color: #ffffff;
    padding-right: 20px;
    transition: all 0.2s ease;
}

.landing-link i {
    padding: 0 5px;
}

.landing-link a:hover {
    color: lightgrey;
}

.icons {
    font-family: 'Roboto';
}


/* scroll arrow animation */
.scroll-arrow {
    position: absolute;
    top: 60vh;
	left: 49%;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);

}

.scroll-arrow:hover {
    -webkit-animation: fade_down 4s ease-in-out infinite;
    -moz-animation:    fade_down 4s ease-in-out infinite;
    animation:         fade_down 4s ease-in-out infinite;
}

@-webkit-keyframes fade_down {
    0%   { -webkit-transform: translate(0,0px) rotate(45deg); opacity: 0; }
    25%  { opacity: 1; }
    50%  { opacity: 1; }
    95%  { opacity: 1; }
    100% { -webkit-transform: translate(0,5px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_down {
    0%   { -moz-transform: translate(0,0px) rotate(45deg); opacity: 0; }
    25%  { opacity: 1; }
    50%  { opacity: 1; }
    95%  { opacity: 1; }
    100% { -moz-transform: translate(0,5px) rotate(45deg); opacity: 0; }
}
@keyframes fade_down {
    0%   { transform: translate(0,0px) rotate(45deg); opacity: 0; }
    25%  { opacity: 1; }
    50%  { opacity: 1; }
    95%  { opacity: 1; }
    100% { transform: translate(0,5px) rotate(45deg); opacity: 0; }
}

/* Section 2 (About) */
.section2 {
    height: auto;
}

.about-content {
    padding-top: 5%;
    font-size: 14pt;
    padding-bottom: 5%;
}

/* Section 3 (Experience) */
.section3 {
    height: auto;
}

.experience-content {
    font-size: 14pt;
    padding-bottom: 5%;
}

.experience-content li {
    line-height: 3vh;
}

.experience-heading {
    padding-top: 10%;
}

.experience-title {
    display: flex;
    justify-content: space-between;
}

/* Section 4 (Projects) */
.section4 {
    height: auto;
}

.projects-heading {
    padding-top: 10%;
    padding-bottom: 2%;
}

.projects-content {
    font-size: 14pt;
    padding-bottom: 5%;
    padding-top: 0;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-item {
    flex: 0 50%;
    height: auto;
}

.card-container {
    background-color: rgb(60, 62, 64);
    border-radius: 10px;
    padding: 5%;
    margin: 2% 2%;
}

.card-img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.card-content {
    padding-right: 5%;
}

.card-button {
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto';
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
}

.card-button:hover {
    background-color: rgb(173, 173, 173);
    color: black;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.project-type {
    color:rgb(178, 191, 232);
    font-weight: bold;
}

/* Footer (Contact) */
.footer {
    height: 25%;
}

.footer-content {
    padding-top: 5%;
    font-size: 14pt;
    padding-bottom: 10%;
}

.footer-content a{
    color: white;
    list-style: none;
    font-family: "Raleway";
}



/* Media Size */
@media (max-width:1000px) {
    .wrapper {
        width: 90%;
    }
    /* Header (Navbar) */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 100%;
        font-size: 14pt;
        text-align: center;
        color: white;
        font-family: "Roboto";
        font-weight: bold;
        
    }
    .navbar-links {
        list-style: none;
        display: flex;
    }

    .navbar-links li {
        display: inline block;
    }

    .navbar-links li a {
        transition: all 0.2s ease 0s;
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .navbar-links li a:hover {
        text-shadow: 0 0 5px #8d8d8d;
        background-color: rgba(73, 73, 73, 0.5);
    }

    .navbar-links li a.current {
        border-bottom: solid white 2px;
    }

    .landing-title {
        font-size: 48pt;
    }
    .landing-subtitle {
        font-size: 16pt;
    }
    .landing-content {
        text-align: center;
        transform: translate(-50%, -50%);
        padding: 0 10px;
    }
    .landing-link {
        font-size: 14pt;
        padding-right: 20px;
    }
    .landing-link i {
        padding: 0 5px;
    }
    .about-content {
        font-size: 12pt;
        padding: 10px;
    }
    .experience-heading {
        padding: 5px;
    }
    .experience-title {
        padding: 0 10px;
        flex-wrap: wrap;
    }
    .experience-title h3 {
        margin: 0;
    }
    .experience-content {
        font-size: 12pt;
        padding: 10px;
    }
    .projects-content {
        flex-direction: column;
        font-size: 12pt;
    }
    .footer-content {
        font-size: 12pt;
    }
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .scroll-arrow {
        top: 90%;
    }
}

@media (max-width: 600px) {
    .navbar-content {
        font-size: 10pt;
    }
}

@media (max-width: 500px) {
    .logo {
        display: none;
    }
}

@media (max-width: 430px) {
    .navbar-content {
        padding-right: 10%;
    }
}

@media (max-width: 380px) {
    .navbar-content {
        padding-right: 25%;
    }
}

@media (max-width: 340px) {
    .navbar-content {
        padding-right: 30%;
    }
}

@media (max-width: 320px) {
    .navbar-content {
        padding-right: 35%;
    }
}