@font-face {
    font-family: 'Roboto';
    src: url(../Kimberly-S.github.io/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../Kimberly-S.github.io/assets/fonts/Raleway/static/Raleway-Regular.ttf);
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
  }
  h1 {
      font-family: 'Roboto';
  }
  p {
      font-family: 'Raleway';
  }

.flexbox {
    display: flex;
}

.wrapper {
    width: 80%;
    margin: auto;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Firefox */
.scroller {
    width: 5px;
    overflow-y: scroll;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}

/* Header (Navbar) */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    width: 80%;
    max-width: 80%;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    display: inline block;
}

.navbar-links li a {
    transition: all 0.2s ease 0s;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navbar-links li a:hover {
    text-shadow: 0 0 5px #8d8d8d;
    font-size: 16pt;
}

/* Section 1 (Landing) */
.section1 {
    height: 10%;
}

.landing-content {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 2px;
    padding: 80px 50px;
}

.landing-italic {
    font-style: italic;
    font-size: 14pt;
}

.landing-title {
    font-size:  74pt;
    margin-bottom: 0;
    margin-top: 0;
}

.landing-subtitle {
    font-size: 18pt;
}

.landing-image {
    background-image: url("../Kimberly-S.github.io/assets/images/pexels-alex-qian-4914161.jpg");
    height: 100%;
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(0.5);
    transform: scale(1.1);
}

.landing-link {
    font-family: 'Raleway';
    font-size: 16pt;
    color: #ffffff;
}

.icons {
    font-family: 'Roboto';
}


/* scroll arrow animation */
.scroll-arrow {
    position: absolute;
    top: 60vh;
	left: 49%;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);

}

.scroll-arrow:hover {
    -webkit-animation: fade_down 4s ease-in-out infinite;
    -moz-animation:    fade_down 4s ease-in-out infinite;
    animation:         fade_down 4s ease-in-out infinite;
}

@-webkit-keyframes fade_down {
    0%   { -webkit-transform: translate(0,0px) rotate(45deg); opacity: 0; }
    25%  { opacity: 1; }
    50%  { opacity: 1; }
    95%  { opacity: 1; }
    100% { -webkit-transform: translate(0,5px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_down {
    0%   { -moz-transform: translate(0,0px) rotate(45deg); opacity: 0; }
    25%  { opacity: 1; }
    50%  { opacity: 1; }
    95%  { opacity: 1; }
    100% { -moz-transform: translate(0,5px) rotate(45deg); opacity: 0; }
}
@keyframes fade_down {
    0%   { transform: translate(0,0px) rotate(45deg); opacity: 0; }
    25%  { opacity: 1; }
    50%  { opacity: 1; }
    95%  { opacity: 1; }
    100% { transform: translate(0,5px) rotate(45deg); opacity: 0; }
}

/* Section 2 (About) */
.section2 {
    height: 100%;
    padding-top: 5%;
}

.about-content {
    
}

/* Section 3 (Projects) */
.section3 {
    height: 100%;
}

.projects-content {
    padding-top: 5%;
}

/* Footer (Contact) */
.footer {
    height: 25%;
}

.footer-content {
    padding-top: 5%;
}